<h1 align="center">Лабораторная работа №1</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Установка и настройка виртуальной машины</h3>
			<p><b>Цель:</b> Изучить особенности программы Virtual Box, получить практические навыки использования и установки. </p>
			<h4>Теоретическая часть</h4>
			<p>VirtualBox - специальная программа для создания в памяти ПК виртуальных компьютеров. Каждый виртуальный компьютер может содержать произвольный набор виртуальных устройств и отдельную операционную систему. Область применения виртуальных компьютеров очень широка - от выполнения функций по тестированию ПО до создания целых сетей, которые легко масштабировать, распределять нагрузку и защищать. VirtualBox распространяется бесплатно, с открытым исходным кодом. </p>
			<ul><b>Основные особенности программы VirualBox:</b>
				<li>VirtualBox может управляться как через GUI-интерфейс, так и через командную строку.</li>
				<li>Для расширения функций программы разработан специальный комплект SDK.</li>
				<li>Параметры виртуальных машин описываются в формате XML и никак не зависят от того физического компьютера, на котором система работает. Поэтому виртуальные компьютеры формата VirtalBox легко переносить с одного ПК на другой.</li>
				<li>При использовании на "гостевых" компьютерах операционных систем Windows или Linux можно воспользоваться специальными утилитами, значительно облегчающими переключение между физическим и виртуальными компьютерами.</li>
				<li>Для быстрого обмена файлами между гостевым и физическим ПК можно создавать так называемые "разделяемые каталоги" (Shared folders), которые одновременно доступны из обоих этих машин.</li>
				<li>VirtualBox позволяет подключать USB-устройства к виртуальным компьютерам, позволяя виртуальным машинам работать с ними напрямую.</li>
				<li>VirtualBox полностью поддерживает протокол удалённого доступа RDP (Remote Desktop Protocol). Виртуальная машина может работать как RDP-сервер, позволяя управлять ею удалённо.</li>
			</ul>
			<h3>Ход работы</h3>
			<p>Начнем создание виртуальной машины. Заходим D:/distrib/VirtualBox нажимаем установить. После того как программа установится на ваш компьютер – запускаем ее. Появится окно. Нажимаем Создать.</p>
			<center><%= image_tag("lab1-1.jpg") %></center>
			<p>Появился мастер создания новой виртуальной машины. Нажимаем Вперед</p>
			<center><%= image_tag("lab1-2.jpg") %></center>
			<p>Теперь вводим имя нашей операционной системы и Тип ОС выбираем Microsoft Windows XP</p>
			<center><%= image_tag("lab1-3.jpg") %></center>
			<p>Отведем на размер памяти 250 МБ</p>
			<center><%= image_tag("lab1-4.jpg") %></center>
			<p>Программа предлагает создать виртуальный жесткий диск. Нажимаем Вперед</p>
			<center><%= image_tag("lab1-5.jpg") %></center>
			<p>Выбираем Динамически расширяющийся образ</p>
			<center><%= image_tag("lab1-6.jpg") %></center>
			<p>Отводим ему 4 ГБ</p>
			<center><%= image_tag("lab1-7.jpg") %></center>
			<p>Мастер закончил создание диска. Нажимаем Финиш</p>
			<center><%= image_tag("lab1-8.jpg") %></center>
			<p>У нас появилась виртуальная машина. </p>
			<h3>Задания для самостоятельной работы:</h3>
			<p>1. Определение, основные особенности виртуальной машины.</p>
			<p>2. Создайте виртуальную машину, в имени машины укажите свою фамилию.</p>
			<p>3. Сделайте отчет о проделанной работе со всеми скриншотами. Результат покажите преподавателю. </p>
		</td>
	</tr>
</table>

