<h1 align="center">Лабораторная работа №1</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Установка операционной системы на виртуальную машину</h3>
			<p><b>Цель:</b> Получить практические навыки по установке операционной системы. Освоить функциональные компоненты ОС, установленной на виртуальной машине.</p>
			<h3>Теоретическая часть</h3>
			<p>Операционная система - это комплекс программ обеспечивающий управление аппаратными средствами компьютера, организующий работы с файлами и выполнениями прикладных программ, осуществляющий ввод и вывод  данных.</p>
			<h4>Состав:</h4>
			<li>ядро - модули, выполняющие основные функции ОС;</li>
			<li>модули - выполняющие вспомогательные функции ОС;</li>
			<h4>2 режима: </h4>
			<li>Пользовательский режим</li>
			<li>Привилегированный режим</li>
			<p><b>Функции ОС компьютера:</b> группируются либо в соответствии с типами ресурсов, которыми управляет ОС, либо в соответствии с алгоритмами, применимыми  для решения общих задач управления ресурсами. такие группы функций называют подсистемами.</p>
			<ul>Подсистемами управлениями ресурсами являются подсистемы:
				<li>Управление процессами</li>
				<li>Управление памятью</li>
				<li>Управление файлами и внешними устройствами</li>
				<li>Общие подсистемы пользовательского интерфейса, защиты данных и администрирования</li>
			</ul>
			<p>Процесс – это отдельная программа в стадии выполнения. </p>
			<p>Программа – это статический объект, представляющий собой файл с кодами и данными.</p>
			<ul>Управление памятью включает:
				<li>Распределение существующей в данной момент памяти, между процессами.</li>
				<li>Настройку адресов на физические адреса</li>
				<li>Загрузка кодов и данных процессов в отведенную память</li>
				<li>Защита областей памяти каждого процесса</li>
			</ul>
			<p>Защита памяти - это способность предохранять выполняемую задачу от ошибочного обращения к памяти, назначенной другим.</p>
			<h3>Ход работы</h3>
			<p>Запускаем виртуальную машину, нажимаем вкладку Свойства</p>
			<center><%= image_tag("lab2-1.jpg") %></center>
			<p>У вас появится окно Свойств. Перейдем на вкладку Система и Поднимем CD/DVDROM наверх, Дискета снимем галочку</p>
			<center><%= image_tag("lab2-2.jpg") %></center>
			<p>Перейдем на вкладку Носители. В ней нажмем кнопку Добавить привод оптических дисков</p>
			<center><%= image_tag("lab2-3.jpg") %></center>
			<p>Выбираем готовый образ операционной системы, нажимаем Открыть. Образ появляется. Нажимаем Ок</p>
			<center><%= image_tag("lab2-4.jpg") %></center>
			<p>Нажимаем Старт</p>
			<center><%= image_tag("lab2-5.jpg") %></center>
			<p>У вас запустился процесс установки операционной системы</p>
			<center><%= image_tag("lab2-6.jpg") %></center>
			<p>В неразмеченной области создаем раздел 3 000 МБ. В этот раздел устанавливаем операционную систему  и нажимаем быстрое форматирование под NTFS. Ждем установку операционной системы. </p>
			<p>Так как мышка и клавиатура у вас одна, то включим дополнения гостевой ОС, чтобы мышь могла спокойно двигаться между реальной машиной и виртуальной</p>
			<center><%= image_tag("lab2-7.jpg") %></center>
			<p>Перегружаем машину. </p>
			<p>Сделаем общей папку user. Выключаем машину. Свойства Общие папки. Добавить</p>
			<center><%= image_tag("lab2-8.jpg") %></center>
			<p>Указываем путь к папке user и ставим галочку Авто-подключение</p>
			<center><%= image_tag("lab2-9.jpg") %></center>
			<p>Готово. Ок. Перезагружаем </p>
			<center><%= image_tag("lab2-10.jpg") %></center>
			<h3>Задания для самостоятельной работы:</h3>
			<p>1. Определение операционной системы , ее функции. </p>
			<p>2. Установите ОС на виртуальную машину </p>
			<p>3. Сделайте папку user общей </p>
			<p>4. Создайте отчет о проделанной работе со всеми скриншотами. Отчет покажите преподавателю. </p>
		</td>
	</tr>
</table>

