<h1 align="center">Лабораторная работа №3</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Учетные записи пользователей и группы</h3>
			<h3>Теоретическая часть</h3>
			<p>Оснастка Локальные пользователи и группы (lusrmgr.msc) - это инструмент, предназначенный для управления локальными пользователями и группами. Локальный пользователь или группа - это учетная запись, которой могут быть предоставлены разрешения и права на вашем компьютере. Оснастка "Локальные пользователи и группы" является важным средством безопасности, поскольку позволяет ограничить возможные действия пользователей и групп путем назначения им прав и разрешений. Одна учетная запись пользователя может входить в несколько групп. </p>
			<p>Папка Пользователи отображает две встроенные учетные записи пользователей — Администратор и Гость, которые создаются автоматически при установке Wundows ХР, а также все созданные учетные записи пользователей. </p>
			<p>Учетная запись Администратор используется при первой установке операционной системы. Эта учетная запись позволяет выполнять необходимые действия до того, как пользователь создаст свою собственную учетную запись. Учетную запись "Администратор" нельзя удалить, отключить или вывести из локальной группы Администраторы, благодаря чему исключается возможность случайной потери доступа к компьютеру после уничтожения всех учетных записей администраторов. Это свойство отличает учетную запись "Администратор" от остальных членов локальной группы "Администраторы".Учетная запись Гость используется теми, кто не имеет реальной учетной записи на компьютере. Если учетная запись пользователя отключена (но не удалена), он также может воспользоваться учетной записью "Гость". Учетная запись гостя не требует пароля. По умолчанию она отключена, но ее можно включить. </p>
			<p>В папке Группы отображаются все встроенные группы и группы, созданные пользователем. Встроенные группы создаются автоматически при установке Windows XP. Принадлежность к группе предоставляет пользователю права и возможности для выполнения различных задач на компьютере. Далее рассмотрены свойства некоторых встроенных групп:</p>
			<p>Администраторы - членство в этой группе по умолчанию предоставляет самый широкий набор разрешений и возможность изменять собственные разрешения. Администраторы имеют полные, ничем неограниченные права доступа к компьютеру или домену. Работа в Windows XP в качестве администратора делает систему уязвимой для троянских коней и других программ, угрожающих безопасности. Простое посещение веб-узла может очень сильно повредить систему. На незнакомом веб-узле может находиться троянская программа, которая будет загружена в систему и выполнена. Если в это время находиться в системе с правами администратора, такая программа может переформатировать жесткий диск, стереть все файлы, создать новую учетную запись пользователя с административным доступом и т. д.</p>
			<p>Опытные пользователи - эта группа поддерживается, в основном, для совместимости с предыдущими версиями для выполнения несертифицированных приложений. Разрешения по умолчанию, предоставленные этой группе, позволяют членам группы изменять параметры компьютера. Если необходима поддержка несертифицированных приложений, конечные пользователи должны быть членами группы "Опытные пользователи".</p>
			<p>Члены группы "Опытные пользователи" имеют больше разрешений, чем члены группы "Пользователи", и меньше, чем члены группы "Администраторы". Опытные пользователи могут выполнять любые задачи с операционной системой, кроме задач, зарезервированных для группы "Администраторы". </p>
			<p>Пользователи - члены этой группы не могут организовывать общий доступ к каталогам или создавать локальные принтеры. Группа "Пользователи" предоставляет самую безопасную среду для выполнения программ. На томе с файловой системой NTFS параметры безопасности по умолчанию только что установленной (не обновленной) системы разработаны, чтобы предотвратить нарушение целостности операционной системы и установленных программ членами этой группы. Пользователи не могут изменять параметры реестра на уровне системы, файлы операционной системы или программы. Пользователи могут выключать рабочие станции, но не серверы. Пользователи могут создавать локальные группы, но управлять могут только теми, которые они создали. Пользователи имеют полный доступ к своим файлам данных и своей части реестра (HKEY_CURRENT_USER). Однако разрешения на уровне пользователя часто не допускают выполнение пользователем устаревших приложений. Участники группы «Пользователи» гарантированно могут запускать только сертифицированные для Windows приложения.</p>
			<p>Операторы архива - члены этой группы могут архивировать и восстанавливать файлы на компьютере независимо от всех разрешений, которыми защищены эти файлы. Они могут также входить в систему и завершать работу компьютера, но не могут изменять параметры безопасности. Для архивирования и восстановления файлов данных и системных файлов требуются разрешения на чтение и запись. Разрешения по умолчанию для операторов архива, позволяющие им архивировать и восстанавливать файлы, делают для них возможным использование разрешений группы для других целей, например для чтения файлов других пользователей и установки программ с троянскими вирусами.</p>
			<p>Гости - члены этой группы по умолчанию имеют те же права, что и пользователи, за исключением учетной записи "Гость", еще более ограниченной в правах.</p>
			<p>Операторы настройки сети - члены этой группы могут иметь некоторые административные права для управления настройкой сетевых параметров.</p>
			<p>Пользователи удаленного рабочего стола - члены этой группы имеют право на выполнение удаленного входа в систему.</p>
			<h3>Ход работы</h3>
			<ul>Рассмотрим 2 способа создания пользователя: 
				<li>ПКМ Мой компьютер >> Управление >>  Локальные пользователи и группы >> Пользователи</li>
			</ul>
			<center><%= image_tag("lab3-1.jpg") %></center>
			<p>Здесь мы видим всех существующих пользователей. ПКМ >> Новый пользователь. Задаем имя пользователю и ОБЯЗАТЕЛЬНО снимаем флажок Потребовать смену пароля при следующем входе в систему!</p>
			<center><%= image_tag("lab3-2.jpg") %></center>
			<p>Нажимаем Создать. Пользователь автоматически создается с правами студента. </p>
			<p>Второй способ Пуск >> Панель управления >> Учетные записи пользователей >> Создание учетной записи</p>
			<center><%= image_tag("lab3-3.jpg") %></center>
			<p>Назначаем ему имя. Далее</p>
			<center><%= image_tag("lab3-4.jpg") %></center>
			<p>Выбираем какого типа будет наша учетная запись (Администратор или Ограниченная).</p>
			<center><%= image_tag("lab3-5.jpg") %></center>
			<p>Создать учетную запись. Теперь ваша учетная запись создана. </p>
			<p>Рассмотрим, какие есть группы. </p>
			<p>Заходим Мой компьютер >> Управление >>  Локальные пользователи и группы >> Группы</p>
			<center><%= image_tag("lab3-6.jpg") %></center>
			<p>Добавим новую группу </p>
			<center><%= image_tag("lab3-7.jpg") %></center>
			<p>добавим Администратора</p>
			<center><%= image_tag("lab3-8.jpg") %></center>
			<p>Создать - так же как и пользователям, группам можно назначить права на объекты. </p>
			<p>Рассмотрим локальную политику безопасности.</p>
			<p>Заходим Пуск >> Панель управления >> Администрирование >> Локальная политика безопасности >> Локальные политики</p>
			<center><%= image_tag("lab3-9.jpg") %></center>
			<p>Здесь нас будет интересовать 2 вкладки: Назначение прав пользователя и Параметры безопасности.</p>
			<p>Назначение прав пользователя. </p>
			<center><%= image_tag("lab3-10.jpg") %></center>
			<ul>Рассмотрим некоторые из них:
				<li>Изменение системного времени – это параметр безопасности, определяющий, какие пользователи могут изменять системное время. </li>
				<li>Овладение файлами или иными объектами – параметр, определяющий, кто может назначать себя владельцев объекта или файла, когда доступ к ним запрещен.</li>
			</ul>
			<p>Параметры безопасности</p>
			<center><%= image_tag("lab3-11.jpg") %></center>
			<p>Владелец по умолчанию для объектов – параметр, определяющий владельца при создании объекта. Может быть создатель объекта, либо группа администраторов.</p>
			<h3>Задания для самостоятельной работы: </h3>
			<p>1. Разобрать до конца 2 вкладки локальной политики</p>
			<p>2. создать пользователя и группу </p>
			<p>3. в группу поместить только созданного пользователя </p>
			<p>4. назначить права группы к объектам</p>
			<p>5. Составить отчет о проделанной работе по представленным заданиям</p>
		</tr>
	</td>
</table>