<h1 align="center">Лабораторная работа №4</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Профили пользователей</h3>
			<h3>Теоретическая часть</h3>
			<p>На изолированном компьютере с Windows ХР локальные профили пользователей создаются автоматически. Информация локальных профилей необходима для поддержки настроек рабочего стола локального компьютера, характерных для конкретного пользователя. Профиль создается для каждого пользователя в процессе его первой регистрации в компьютере.</p>
			<ul>Преимущества профиля пользователя:
				<li>при регистрации пользователя в системе рабочий стол получает те же настройки, какие существовали в момент предыдущего выхода пользователя из системы;</li>
				<li>несколько пользователей могут работать на одном и том же компьютере в  индивидуальных средах (нельзя только иметь собственные параметры разрешения экрана и частоты развертки; здесь нужно применять профили оборудования);</li>
				<li>при работе компьютера в домене профили пользователей могут быть сохранены на сервере.</li>
			</ul>

			<p>Следует заметить, что не все настройки локального профиля пользователя копируются в его перемещаемый профиль.</p>

			<ul>Назначение профиля пользователей:
				<li>создать несколько типов профилей и назначить их определенным группам пользователей. Это позволит получить несколько типов рабочих сред, соответствующих различным задачам, решаемым пользователями;</li>
				<li>назначать общие групповые настройки всем пользователям;</li>
				<li>назначать обязательные профили, какие-либо настройки которых пользователи изменять не могут.</li>
			</ul>

			<h3>Ход работы</h3>
			<p>Заходим в папку Documents and Settings (C:\Documents and Settings)</p>
			<center><%= image_tag("lab4-1.jpg") %></center>
			<p>Здесь мы видим профили всех существующих пользователей</p>
			<p>Содержимое профиля пользователя Admin</p>
			<center><%= image_tag("lab4-2.jpg") %></center>
			<li>VirtualBox – программа VirtualBox создает себе папку в профиле пользователя</li>
			<li>Application Data. В эту папку сохраняются игры и различные приложения - Local Settings – локальные настройки (настройки сети)</li>
			<li>NetHood – папка, в которую постоянно накапливаются ярлыки являющиеся ссылками на ресурсы локальной сети</li>
			<li>PrintHood – Каталог файловой системы, служащий общим хранилищем ссылок на принтеры</li>
			<li>SendTo – Ярлыки объектов, куда могут посылаться документы (при вызове контекстного меню правой кнопкой мыши -> Отправить)</li>
			<li>Главное меню – здесь хранятся закрепленные программы меню ПУСК</li>
			<li>Избранное – Ярлыки часто используемых программ и папок</li>
			<li>Мои документы - Данные о документах и графических файлах, используемых пользователем</li>
			<li>Недавние документы - Данные о документах и графических файлах, открытых пользователем в течение последнего времени</li>
			<li>Рабочий стол - Объекты рабочего стола, включая файлы и ярлыки</li>
			<li>Шаблоны – шаблоны документов</li>
			<li>NTUSER.dat – служебный файл</li>
			<li>NTUSER.DAT.LOG – служебный каталог</li>
			<p>Заметим, что члены группы Администраторы могут просматривать профили всех пользователей, а остальные пользователи только свой профиль.</p>
			<p>Кроме профилей существующих пользователей есть папки All Users и Default User.</p>
			<p>All Users – настройки не копируются в папки профиля пользователя, но используются для его создания. Также содержит настройки для рабочего стола и меню Start.</p>
			<p>Default User – содержится профиль, создаваемый по умолчанию.</p>
			<ul>Виды профилей и их расположение:
				<li>Локальный профиль - хранится на компьютере в папке, имя которой совпадает с именем данного пользователя</li>
			</ul>

			<ul>Создание профиля:
				<li>Создаем пользователя (правой кнопкой мыши Мой компьютер >> Управление >> Локальные пользователи >> Пользователи >> Правой кнопкой мыши Новый пользователь).</li>
			</ul>
			<center><%= image_tag("lab4-3.jpg") %></center>
			<p>Зададим ему имя Пользователь и снимем галочку Потребовать смену пароля при следующем входе в систему</p>
			<center><%= image_tag("lab4-4.jpg") %></center>
			<p>Проверим, появился ли у нового пользователя профиль.</p>
			<center><%= image_tag("lab4-5.jpg") %></center>
			<p>Как мы видим, профиль не появился. Дело в том, что профиль пользователя появляется автоматически после первого входа пользователя в систему под своей учетной записью.</p>
			<p>Зайдем под своей учетной записью (Пуск >> Выход из системы >> Смена пользователя)</p>
			<p>Настроим свой рабочий стол. Выведем на рабочий стол Мой компьютер, Мои документы (Пуск >> Мой компьютер/Мои документы >> правой кнопкой мыши >> Отображать на рабочем столе), переключимся к классическому меню Пуск (правой кнопкой по меню Пуск >> Свойства >> классическое меню пуск)</p>
			<center><%= image_tag("lab4-6.jpg") %></center>
			<p>Отправим Total Commander в Панель запуска (Панель задач >> правой кнопкой мыши >> Панели инструментов и ставим галочку Быстрый запуск. Далее меню Пуск >> Программы >> находим Total Commander >> создаем ярлык [при выдаче сообщения о помещении на рабочий стол нажимаем Ок] >> Перетаскиваем ярлык на панель быстрого запуска).</p>
			<p>Выходим из своей учетной записи (Пуск >> Завершение сеанса пользователь >> Выход из системы) и заходим под пользователем Admin.</p>
			<center><%= image_tag("lab4-7.jpg") %></center>
			<p>Удаляем своего пользователя (правой кнопкой мыши Мой компьютер >> Управление >> Локальные пользователи >> >>Пользователи >> Правой кнопкой мыши по своему пользователю Удалить). Появится сообщение:</p>
			<center><%= image_tag("lab4-8.jpg") %></center>
			<p>Нажимаем Да.</p>
			<p>Проверим, удалился ли профиль удаленного пользователя.</p>
			<center><%= image_tag("lab4-9.jpg") %></center>
			<p>Как мы видим, профиль не удалился. Удалим профиль.</p>
			<p>Перемещаемый профиль – идентичен локальному профилю пользователей, но в нем отсутствует папка Local Settings</p>
			<p>На диске D создаем папку >> разрешаем ей общий доступ >> копируем профиль любого пользователя в эту папку и делаем профиль не скрытым и переименовываем профиль.</p>
			<center><%= image_tag("lab4-10.jpg") %></center>
			<p>Создаем пользователя (правой кнопкой мыши Мой компьютер >> Управление >> Локальные пользователи >> Пользователи >> Правой кнопкой мыши Новый пользователь). Обязательно снять галочку Потребовать смену пароля при следующем входе в систему</p>
			<p>Правой кнопкой мыши по созданному пользователю >> Свойства >> Вкладка Профиль >> Путь к профилю: \\<сервер>\<общая_папка>\<имя_профиля></p>
			<center><%= image_tag("lab4-11.jpg") %></center>
			<p>Зайдем под своей учетной записью. Выдаст сообщение, нажимаем Ок. Это сообщение означает, что при следующем входе в систему под вашей учетной записью все изменения будут утеряны.</p>
			<p>Зайдем в папку Temp (C:\Documents and Settings\TEMP). Здесь находятся все настройки вашего профиля.</p>
			<center><%= image_tag("lab4-12.jpg") %></center>
			<p>Выходим из своей учетной записи и заходим под пользователем Admin. Убедитесь, что вы вышли из своего пользователя.</p>
			<p>Удаляем своего пользователя.</p>
			<p>Проверяем удалился ли профиль в папке Temp.</p>
			<p>Обязательный профиль.</p>
			<p>Создается по такому же принципу , как и перемещаемый. Для придания перемещаемому профилю статуса обязательного необходимо переименовать файл NTUSER.DAT в файл NTUSER.MAN</p>
			<p>Квоты – это опциональная возможность операционной системы, которая позволяет ограничивать объем дискового пространства и/или количество файлов для конкретного пользователя или членов определенной группы в рамка х одной файловой системы.</p>
			<p>ПКМ Мой компьютер >> Свойства >> Дополнительно >> Профили пользователей >> параметры</p>
			<center><%= image_tag("lab4-13.jpg") %></center>
			<p>щелкаем по любой записи, нажимаем сменить тип.</p>
			<center><%= image_tag("lab4-14.jpg") %></center>
			<p>Заметим, что нам дается возможность выбрать только локальный профиль, перемещаемый профиль выбрать не дает.</p>
			<center><%= image_tag("lab4-15.jpg") %></center>
			<p>Рассмотрим квоты. С: (ПКМ) Свойства >> вкладка Квоты >> ставим галочку Включить управление квотами</p>
			<center><%= image_tag("lab4-16.jpg") %></center>
			<p>Здесь можно ограничить место на ж/д, регистрировать превышения, настроить порог выдачи предупреждения.</p>
			<h3>Задания для самостоятельной работы:</h3>
			<p>1. Содержимое профиля</p>
			<p>2. Назначение профиля</p>
			<p>3. Виды профилей и их расположение</p>
			<p>4. Способы создания каждого вида профиля</p>
			<p>5. Квоты. Содержание и назначение</p>
			<p>6. Сделать отчет по проделанной работе со всеми скриншотами и ответами на вопросы. Отчет показать преподавателю</p>
		</tr>
	</td>
</table>