<h1 align="center">Лабораторная работа №5</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Работа с командной строкой</h3>
			<h3>Теоретическая часть</h3>
			<p>Командная строка операционной системы Windows является устрашающей темой для некоторых начинающих системных администраторов. Многие им не пользуются, или пользуются ограниченным количеством команд. В сравнении с графическим интерфейсом Windows командная среда может выглядеть несколько старомодно, но она играет очень важную роль в системном администрировании, так как многие возможности недоступны из графического интерфейса. Мастерство владения командной строкой, умение писатькомандные файлы будет несомненным плюсом в администрировании и автоматизации рутинных задач специалистов IT-отдела.</p>
			<p>Командная среда - это программный продукт Microsoft, который обеспечивает связь между пользователем компьютера и операционной системой Windows. Командная оболочка Windows использует интерпретатор команд cmd.exe. Консоль командной строки присутствует во всех версиях операционных систем Windows. Многие возможности и функции управления операционной системой недоступны из графического интерфейса и поэтому cmd является единственным средством доступа к этим инструментам.</p>
			<p>Отличием работы из командной строки является полное отсутствие больших и громоздких графических утилит. Пользовательский интерфейс текстовой строки предоставляет среду, в которой выполняются приложения и служебные программы.</p>
			<h3>Ход работы</h3>
			<p>Запустите консоль команд Windows XP.</p>
			<ul>Способы:
				<li>Пуск >> Программы >> Стандартные >> Командная строка </li>
				<li>Пуск>> Выполнить >>cmd</li>
			</ul>
			<center><%= image_tag("lab5-1.jpg") %></center>
			<p>Перейдите в корневой каталог диска D: (команда cd /D D:\). Выдайте на экран содержимое (команда dir). </p>
			<center><%= image_tag("lab5-2.jpg") %></center>
			<p>Выдайте содержимое этого каталога в краткой форме (только имена файлов и каталогов). Для этого посмотрите ключи команды! Ключи можно посмотреть с помощью: <команда> /?</p>
			<center><%= image_tag("lab5-3.jpg") %></center>
			<center><%= image_tag("lab5-4.jpg") %></center>
			<p>Выдайте полное содержимое этого каталога, включая скрытые и системные файлы</p>
			<center><%= image_tag("lab5-5.jpg") %></center>
			<p>Зайдите в папку user диска D. Выдайте на экран имена всех текстовых файлов (dir *.doc).</p>
			<center><%= image_tag("lab5-6.jpg") %></center>
			<p>Создайте собственный каталог (для этого воспользуйтесь командой md) и перейдите в созданный каталог (команда cd).</p>
			<center><%= image_tag("lab5-7.jpg") %></center>
			<p>Создайте в этом каталоге текстовый файл путем копирования с консоли некоторого текста. Для этого воспользуйтесь командой копирования: copyconимя_файла (присвойте файлу расширение .txt). Прекращение ввода текста осуществляется нажатием комбинации клавиш ctrl + z.</p>
			<center><%= image_tag("lab5-8.jpg") %></center>
			<p>Просмотрите содержимое каталога и убедитесь, что файл действительно создан. Выдайте содержимое файла на экран (команда type).</p>
			<center><%= image_tag("lab5-9.jpg") %></center>
			<p>Создайте в своем каталоге еще один текстовый файл и подкаталог.</p>
			<center><%= image_tag("lab5-10.jpg") %></center>
			<p>Скопируйте созданные вами файлы в этот каталог, дав им другое расширение.</p>
			<center><%= image_tag("lab5-11.jpg") %></center>
			<p>Убедитесь, что копирование прошло удачно. Для этого выполните команду сравнения файлов (команда fc).</p>
			<center><%= image_tag("lab5-12.jpg") %></center>
			<p>Создайте в новом каталоге файл, являющийся сцеплением двух ваших файлов (команда copy). Выдайте его содержимое на экран.</p>
			<center><%= image_tag("lab5-13.jpg") %></center>
			<p>Просмотрите атрибуты созданных вами файлов (команда attrib /s).</p>
			<center><%= image_tag("lab5-14.jpg") %></center>
			<p>Настройте приглашение системы по вашему вкусу (команда prompt).</p>
			<center><%= image_tag("lab5-15.jpg") %></center>
			<p>Создайте небольшой командный файл, позволяющий перемещать файлы из некоторого каталога в другой каталог с выдачей на экран предупреждения об их удалении из исходного каталога. ( Воспользуйтесь специальными командами echo и pause). Какая команда позволяет переместить файлы? Протестируйте эту команду.</p>
			<p>Создание командного файла:</p>
			<p>Создайте текстовый файл в Блокноте. Файл должен содержать команды ОС. Например:</p>
			<center><%= image_tag("lab5-16.jpg") %></center>
			<p>Запуск файла: 1) двойной щелчок мышью по файлу; 2) ввести имя файла в командной строке, нажать Enter.</p>
			<p>Через двойной щелчок </p>
			<center><%= image_tag("lab5-17.jpg") %></center>
			<p>Через командную строку </p>
			<center><%= image_tag("lab5-18.jpg") %></center>
			<h3>Задания для самостоятельной работы: </h3>
			<p>1. Проделайте все команды, представленные выше </p>
			<p>2. Создайте командный файл, который будет создавать каталог и в нем 2 текстовых файлов.</p>
			<p>3. Сделайте отчет о проделанной работе со всеми скриншотами. Результат покажите преподавателю</p>
		</tr>
	</td>
</table>




