<h1 align="center">Лабораторная работа №6</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Часть 1.</h3>
			<h3 align="center">Создание командных файлов</h3>
			<h3>Теоретическая часть</h3>
			<p>Командные файлы (скрипты, сценарии, батники) - это обычные текстовые файлы с расширением .bat или .cmd, строки которых представляют собой специальные команды или имена исполняемых файлов. Строки командных файлов обрабатываются специальной программой - командным процессором операционной системы, часто называемым интерпретатором команд. Для операционных систем DOS и Windows9X в качестве интерпретатора команд используется command.com, для Windows NT и старше - cmd.exe. </p>
			<h3>Ход работы</h3>
			<ul>Просмотрите, какие переменные среды заданы в системе. Проделайте это двумя способами:
				<li>через окно Свойства системы (Панель Управления >> Система >> вкладка Дополнительно, а затем на кнопку Переменные среды внизу этой вкладки);</li>
			
			<center><%= image_tag("lab6-1.jpg") %></center>
			<li>используя команду set из окна командной строки.</li>
			<center><%= image_tag("lab6-2.jpg") %></center>
			</ul>
			<p>Создайте свою переменную, содержащую, например, путь к вашей папке. Проверьте ее действительность. </p>
			<p>В консоли: seta= D:\User\<Название вашей группы>\<Ваша фамилия>Откройте вашу папку командой cd %a%</p>
			<center><%= image_tag("lab6-3.jpg") %></center>
			<p>В графическом интерфейсе: открываем окно Переменные среды (см. пункт 1)>>Создать. В поле Имя переменной вводим b, а в значении переменной прописываем путь к папке. В нашем случае это D:\User\<Название вашей группы>\<Ваша фамилия></p>
			<center><%= image_tag("lab6-4.jpg") %></center>
			<p>Для того чтобы открыть папку нажмите Пуск и в поле поиска введите %<название переменной>%</p>
			<p>Создайте командные файлы. В блокноте набрать нужную команду и сохранить с расширением *.bat. В файлах необходимо использовать возможность передачи некоторых сведений параметрами, и при необходимости проверять внутри командного файла, заданы ли им нужные параметры. </p>
			<p>Резервное копирование файлов с определенными расширениями из текущего каталога в резервный каталог с возможностью создания резервного каталога, если его нет в системе.</p>
			<center><%= image_tag("lab6-5.jpg") %></center>
			<center><%= image_tag("lab6-6.jpg") %></center>
			<p>Поиск во временном каталоге системы файла, имя которого передается параметром; если файл найден, то выдать на экран его отличия от файла с таким же именем из текущего каталога.</p>
			<center><%= image_tag("lab6-7.jpg") %></center>
			<center><%= image_tag("lab6-8.jpg") %></center>
			<p>Копирование файла с выдачей предупреждающего сообщения о существовании такого файла в результирующем каталоге, если файл с таким именем уже существует.</p>
			<center><%= image_tag("lab6-9.jpg") %></center>
			<center><%= image_tag("lab6-10.jpg") %></center>
			<p>Перемещение файла в другой каталог (с запросом перед удалением из исходного каталога).</p>
			<center><%= image_tag("lab6-11.jpg") %></center>
			<center><%= image_tag("lab6-12.jpg") %></center>
			<p>Удаление файла с запросом подтверждения этого действия.</p>
			<center><%= image_tag("lab6-13.jpg") %></center>
			<center><%= image_tag("lab6-14.jpg") %></center>
			<h3>Задание для самостоятельной работы: </h3>
			<p><u>Результат выполнения лабораторной работы представить в отчете со всеми скриншотами и ответами на вопросы. Отчет сдать преподавателю.</u></p>
			<br><br><br><br><br><br>





			<h3 align="center">Часть 2.</h3>
			<h3 align="center">Назначение сценариев входа.</h3>
			<h3>Теоретическая часть</h3>
			<p>Скрипт WSH является обычным текстовым файлом с расширениями .js, vbs и подключаются с помощью ActiveXObject в JS- и VBS-скриптах (в т.ч. в HTML). Кроме этого, WSH-скрипты могут содержаться в "своих" файлах - *.wsh и *.wsf (wsh-файлы - это скрипты для старых версий WSH). Эти файлы представляют собой специальные XML-конструкции. В одном файле можно использовать все доступные скриптовые языки.</p>
			<p>Существует 4 типа сценария: на включение и выключение компьютера и на вход и выход из системы. Рассмотрим, как их создать. </p>
			<h3>Ход работы</h3>
			<p>Первый скрипт на включение компьютера. </p>
			<p>создаем текстовый документ. В нем пишем WScript. Echo (“привет”);</p>
			<center><%= image_tag("lab6-15.jpg") %></center>
			<p>сохраняем его в формате «.js» (Java Script)</p>
			<center><%= image_tag("lab6-16.jpg") %></center>
			<p>получится файл</p>
			<center><%= image_tag("lab6-17.jpg") %></center>
			<p>Выполним команду Пуск >> Выполнить >> mmc</p>
			<center><%= image_tag("lab6-18.jpg") %></center>
			<p>появится консоль. </p>
			<center><%= image_tag("lab6-19.jpg") %></center>
			<p>далее выбираем «консоль» >> «добавить или удалить оснастку» </p>
			<center><%= image_tag("lab6-20.jpg") %></center>
			<p>Появится окно. Далее «добавить» </p>
			<center><%= image_tag("lab6-21.jpg") %></center>
			<p>«редактор объектов группы политики» >> «добавить» >> «готово»</p>
			<center><%= image_tag("lab6-22.jpg") %></center>
			<p>появилось окно. Нажимаем Готово. </p>
			<center><%= image_tag("lab6-23.jpg") %></center>
			<p>в итоге получится </p>
			<center><%= image_tag("lab6-24.jpg") %></center>
			<p>Открываем: политика «Локальный компьютер» >> «конфигурация компьютера» >> «конфигурация Windows» </p>
			<center><%= image_tag("lab6-25.jpg") %></center>
			<p>Нажимаем Сценарии</p>
			<center><%= image_tag("lab6-26.jpg") %></center>
			<p>Во вкладке сценарии выбираем вкладку «автозагрузка» открываем вкладку «добавить» в имя сценария добавляем свой созданный файл.</p>
			<center><%= image_tag("lab6-27.jpg") %></center>
			<center><%= image_tag("lab6-28.jpg") %></center>
			<center><%= image_tag("lab6-29.jpg") %></center>
			<center><%= image_tag("lab6-30.jpg") %></center>
			<center><%= image_tag("lab6-31.jpg") %></center>
			<center><%= image_tag("lab6-32.jpg") %></center>
			<p>Свернем.</p>
			<ul>Второй скрипт на завершение работы.
				<li>создаем файл Завершение.js и прописываем в нем WScript.Echo (“До Свидания!”);</li>
				<li>так же назначаем его, но уже на завершение работы. </li>
				<li>Ок >> Закрываем >> Не сохранять</li>
			</ul>
			<center><%= image_tag("lab6-33.jpg") %></center>
			<li>перезагружаем, проверяем. Заметьте, приветствие сработало еще до того как вы зашли под пользователем. </li>
			<ul>Третий скрипт на вход в систему.
			<li>создаем файл вход.js и пишем в файле WScript.Echo (“Добро пожаловать!”);</li>
			<li>заходим в консоль где мы назначали сценарии, но уже не конфигурация компьютера, а конфигурация пользователя. </li>
			</ul>
			<center><%= image_tag("lab6-34.jpg") %></center>
			<p>конфигурация Windows</p>
			<center><%= image_tag("lab6-35.jpg") %></center>
			<center><%= image_tag("lab6-36.jpg") %></center>
			<center><%= image_tag("lab6-37.jpg") %></center>
			<li>на вход в систему так же ставим свой созданный сценарий</li>
			<li>проверяем. </li>
			<ul>Четвертый скрипт на выход пользователя из системы
				<li>аналогично третьему скрипту, ставим его на выход из системы. </li>
			</ul>
			<p>Проверьте, работают ли под студентом 3 и 4 скрипт. Должно работать под всеми пользователями</p>
			<h3>Задания для самостоятельной работы:</h3>
			<p>1. Зачем нужны сценарии?</p>
			<p>2. Виды скриптов </p>
			<p>3. Создайте отчет о проделанной работе со всеми скриншотами. Отчет покажите преподавателю.</p>
		</tr>
	</td>
</table>







