<h1 align="center">Лабораторная работа №7</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Работа с дисковыми ресурсами</h3>
			<h3>Теоретическая часть</h3>
			<p>Дисковое пространство состоит непосредственно из раздела с системой и разделом (разделами) с другими данными. Систему лучше всего ставить на отдельный раздел жесткого диска, т.к. в случае ошибки или неисправности системы все данные пользователя, при установке новой системы, удалятся. </p>
			<p>Дефрагментация - процесс обновления и оптимизации логической структуры раздела диска с целью обеспечить хранение файлов в непрерывной последовательности кластеров.</p>
			<h3>Ход работы</h3>
			<p>Разберем, как создать новый раздел жесткого диска. </p>
			<p>Заходим Пуск >> Панель управления >> Администрирование >> Управление компьютером. Нас будет интересовать вкладка Управление дисками</p>
			<center><%= image_tag("lab7-1.jpg") %></center>
			<p>Мы видим не распределенный раздел. Нажимаем по нему ПКМ Создать раздел</p>
			<center><%= image_tag("lab7-2.jpg") %></center>
			<p>нажимаем далее</p>
			<p>сделаем его основным разделом:</p>
			<center><%= image_tag("lab7-3.jpg") %></center>
			<p>Дадим ему размер 500 МБ</p>
			<center><%= image_tag("lab7-4.jpg") %></center>
			<p>Назначим ему букву, любую из свободных</p>
			<center><%= image_tag("lab7-5.jpg") %></center>
			<p>Отформатируем его под файловой системой NTFS</p>
			<center><%= image_tag("lab7-6.jpg") %></center>
			<p>Раздел создан. Нажимаем Готово. </p>
			<center><%= image_tag("lab7-7.jpg") %></center>
			<p>Рассмотрим, как сделать дефрагментацию диска.</p>
			<p>Заходим Пуск >> Панель управления >> Администрирование >> Управление компьютером. Нас будет интересовать вкладка Дефрагментация диска. </p>
			<center><%= image_tag("lab7-8.jpg") %></center>
			<p>выбираем жесткий диск С и нажимаем анализ. На экране появится сообщение </p>
			<center><%= image_tag("lab7-9.jpg") %></center>
			<p>Дефрагментация</p>
			<center><%= image_tag("lab7-10.jpg") %></center>
			<br>
			<h3>Задания для самостоятельной работы:</h3>
			<p>1. Создайте еще один новый раздел, но отформатируйте его под системой FAT</p>
			<p>2. Удалите оба раздела и создайте 2 по 300 МБ с файловой системой NTFS и 1 400 МБ с файловой системой FAT.</p>
			<p>3. Чем отличается файловая система FAT от NTFS?</p>
			<p>4. Выполнить дефрагментацию диска D</p>
			<p>5. Сделайте отчет по лабораторной и покажите преподавателю. </p>
		</tr>
	</td>
</table>