<h1 align="center">Лабораторная работа №9</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Управление разделением ресурсов в локальной сети</h3>
			<p><b>Цель:</b> Ознакомиться с сетевыми ресурсами; научиться разрешать\запрещать сетевой доступ к какому-либо ПК.</p>
			<h3>Теоретическая часть</h3>
			<p>Сетевой ресурс - это устройство или часть информации, к которой может быть осуществлён удалённый доступ с другого компьютера, обычно через локальную компьютерную сеть или посредством корпоративного интернета, как если бы ресурс находился на локальной машине.</p>
			<h3>Ход работы:</h3>
			<p>С помощью окна Мое сетевое окружение посмотрите состав вашей сети. </p>
			<center><%= image_tag("lab9-1.jpg") %></center>
			<p>Настройте это окно, включив несколько общих папок с других компьютеров (например, папку Операционные системы с компьютера 116-10). Для этого нажмите в проводнике Сетевого окружения на вкладку "Добавить новый элемент в сетевое окружение" </p>
			<center><%= image_tag("lab9-2.jpg") %></center>
			<p>Запустите изолированную оснастку «Общие папки». Для этого щелкните правой кнопкой мыши по "Мой компьютер", выберете вкладку "Управление", далее "Общие папки" </p>
			<center><%= image_tag("lab9-3.jpg") %></center>
			<p>Выделите с ее помощью свою папку в совместное использование. Как создать невидимый ресурс? Убедитесь в его «невидимости». Если вы назначаете ресурсу имя, в конце которого стоит символ $, то ресурс становится невидимым </p>
			<center><%= image_tag("lab9-4.jpg") %></center>
			<p>Как выделить некоторую папку в совместное использование из командной строки?</p>
			<center><%= image_tag("lab9-5.jpg") %></center>
			<p>Установите некоторые разрешения на доступ по сети всем пользователям, отдельному пользователю или группе. Как взаимодействуют локальные разрешения и сетевые? </p>
			<p>Для всех:</p>
			<center><%= image_tag("lab9-6.jpg") %></center>
			<p>Для группы и пользователей:</p>
			<center><%= image_tag("lab9-7.jpg") %></center>
			<p>Как послать сообщение по сети некоторому пользователю? Как послать сообщение всем? Выполните это. Для этого воспользуйтесь командой «net send». </p>
			<center><%= image_tag("lab9-8.jpg") %></center>
			<center><%= image_tag("lab9-9.jpg") %></center>
			<p>Как остановить получение сообщений на своем компьютере? Для этого зайдите в «Панель управления», далее «Администрирование», затем «Службы компонентов», «Службы (Локальные)». Найдите там «Службы сообщений»</p>
			<center><%= image_tag("lab9-10.jpg") %></center>
			<center><%= image_tag("lab9-11.jpg") %></center>
			<p>Установите возможность работы с некоторыми файлам, доступными по сети в автономном режиме. Для этого зайдите в меню вашего окна в «Сервис», «Свойства папки», «Автономные файлы». </p>
			<center><%= image_tag("lab9-12.jpg") %></center>
			<p>Какие методы синхронизации существуют при работе с автономными файлами? Для этого зайдите в меню вашего окна в «Сервис», «Cинхронизация».</p>
			<center><%= image_tag("lab9-13.jpg") %></center>
			<center><%= image_tag("lab9-14.jpg") %></center>
			<h3>Задания для самостоятельной работы: </h3>
			<p>1. Что такое сетевой ресурс и для чего он предназначен? </p>
			<p>2. Поясните работу команды «net send»? </p>
			<p>3. Какая команда используется для обозначения невидимого ресурса? </p>
			<p>4. Поэтапно проделайте лабораторную работу и создайте отчет со всеми скриншотами. Результат покажите преподавателю</p>
		</tr>
	</td>
</table>