<!DOCTYPE html>
<html>
<head>
  <title>Учебное пособие по дисциплине Операционные Среды</title>
  <%= stylesheet_link_tag    "application", media: "all",
  "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application",
   "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
		<a href="/"><%= image_tag("logo.jpg") %></a>
		<%= @page_title || "Учебное пособие" %>
</div>
<ul id="menu">
        <li><a href="/">Home</a></li>
        <li>
                <a href="/tutorial/theory">Теория</a>
                <ul>
                        <li><a href="/theory/lesson1">Second Extended File System 2</a></li>
                        <li><a href="/theory/lesson2">Second Extended File System 3</a></li>
                        <li><a href="/theory/lesson3">Second Extended File System 4</a></li>
                        <li><a href="/theory/lesson4">Безопасность ОС</a></li>
                        <li><a href="/theory/lesson5">Динамическая загрузка</a></li>
                        <li><a href="/theory/lesson6">Выгрузка драйверов(продолжение)</a></li>
                        <li><a href="/theory/lesson7">Избыточные дисковые подсистемы RAID</a></li>
                        <li><a href="/theory/lesson8">Многоуровневые драйвера</a></li>
                        <li><a href="/theory/lesson9">Подсистема ввода-вывода</a></li>
                        <li><a href="/theory/lesson10">Подсистема спулинга</a></li>
                        <li><a href="/theory/lesson11">Обработка прерываний</a></li>
                        <li><a href="/theory/lesson12">Сетевые операционные системы</a></li>
                        <li><a href="/theory/lesson13">Сетевые службы и сетевые службы</a></li>
                        <li><a href="/theory/lesson14">Средства защищенности ОС</a></li>
                        <li><a href="/theory/lesson15">Средства отказоустойчивости ОС</a></li>
                        <li><a href="/theory/lesson16">Файловые операции</a></li>
                        <li><a href="/theory/lesson17">Функции ОС по управлению памятью</a></li>
                </ul>
        </li>
        <li>
                <a href="/tutorial/laboratory_work">Лаб. работы</a>
                <ul>
                        <li><a href="/laboratory_work/lab1">Установка и настройка виртуальной машины</a></li>
                        <li><a href="/laboratory_work/lab2">Установка ОС на виртуальную машину</a></li>
                        <li><a href="/laboratory_work/lab3">Учетные записи пользователей</a></li>
                        <li><a href="/laboratory_work/lab4">Профили пользователей</a></li>
                        <li><a href="/laboratory_work/lab5">Работа с командной строкой</a></li>
                        <li><a href="/laboratory_work/lab6">Создание командных файлов</a></li>
                        <li><a href="/laboratory_work/lab7">Работа с дисковыми ресурсами</a></li>
                        <li><a href="/laboratory_work/lab8">Удаленный рабочий стол</a></li>
                        <li><a href="/laboratory_work/lab9">Управление локальной сетью</a></li>
                        <li><a href="/laboratory_work/lab10">Работа с реестром</a></li>
                        <li><a href="/laboratory_work/lab11">Оптимизация системы</a></li>
                        <li><a href="/laboratory_work/lab12">Работа с безопасностью</a></li>
                </ul>
        </li>
        <li>
                <a href="/tutorial/about">About</a>
                
        </li>
</ul>
<%= yield %>

</body>
</html>
